

name: Github Actions Maven Build Example

on:
  push:
    branches: [ main ]
jobs:

  build:
    
    runs-on: ubuntu-latest
    
    
    steps:
  
      - name: Step 1 - Checkout main branch from GitHub
        uses: actions/checkout@v2
      
      
      - name: Step 2 - Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      
      - name: step 3 - Have GitHub Actions Build Maven Project
        run: mvn -B package --file pom.xml
        
      - name: Step 4 - List the current directory
        run: ls -a
        
      - name: Step 5 - What is in the src folder?
        run: |
          cd src
          ls -a
      - name: Step 6 - tomcat deploy
        run: curl -v -u admin:Mahesh -T /home/runner/work/rock-paper-scissor/rock-paper-scissor/target/roshambo-0.0.1-SNAPSHOT.jar 'http://192.168.141.247:2525//manager/deploy?path=/spring_web'
             
